<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="text-align: center">
                        <h4 class="title">Make an appointment</h4>
                        <p class="category">Manage all appointments or add new</p>
                    </div>
                    <div class="content">
                        <app-loading *ngIf="isLoading"></app-loading>
                        <div [hidden]="isLoading">
                            <div class="row">
                                <div class="col-md-5">

                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Patient" aria-label="Number" matInput
                                               [formControl]="myControlPatient"
                                               [matAutocomplete]="autoPatient">
                                        <mat-autocomplete autoActiveFirstOption #autoPatient="matAutocomplete"
                                                          [displayWith]="displayFnPatient">
                                            <mat-option *ngFor="let patient of filteredPatients | async;" [value]="patient"
                                                        (onSelectionChange)="setPatient($event,patient)" (reset)="setPatient(patient)" >
                                                {{patient.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input [(ngModel)]="patient.address" matInput placeholder="Address" name="address">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input [(ngModel)]="patient.age" matInput placeholder="Age" name="age">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input [(ngModel)]="patient.tel" matInput placeholder="Tel" name="tel">
                                    </mat-form-field>

                                </div>

                                <div class="col-md-5">

                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Doctor" aria-label="Number" matInput
                                               [formControl]="myControlDoctor"
                                               [matAutocomplete]="autoDoctor">
                                        <mat-autocomplete autoActiveFirstOption #autoDoctor="matAutocomplete"
                                                          [displayWith]="displayFnDoctor">
                                            <mat-option *ngFor="let doctor of filteredDoctors | async;" [value]="doctor"
                                                        (onSelectionChange)="setDoctor($event, doctor)">
                                                {{doctor.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input [(ngModel)]="appointment.issue" matInput placeholder="Issue" name="issue">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Select Date" [matDatepicker]="datepickerRef"
                                               name="datepicker" ngModel (dateChange)="setDate($event)"
                                               #dateCtrl="ngModel" required readonly/>
                                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #datepickerRef></mat-datepicker>
                                        <mat-error >Choose a Date</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <button mat-button (click)="addNewClick()" class="btn btn-default">Add new</button>
                                </div>
                            </div>
                            <!--table-->
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>

                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                                        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="token_no">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Token No</th>
                                        <td mat-cell *matCellDef="let row"> {{row.token_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="issue">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue</th>
                                        <td mat-cell *matCellDef="let row"> {{row.issue}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="patient">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient</th>
                                        <td mat-cell *matCellDef="let row"> {{row.patient.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="doctor">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor</th>
                                        <td mat-cell *matCellDef="let row"> {{row.doctor.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" class="row">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5vw">
                                            Actions
                                        </th>
                                        <mat-cell *matCellDef="let row" class="col-md-12">
                                            <button mat-button class="btn btn-primary table-btn"
                                                    (click)="tableClick(row)">Edit
                                            </button>
                                            <label style="color: white"> |||| </label>
                                            <button mat-button class="btn btn-danger table-btn" (click)="tableDelete(row)">Delete</button>
                                        </mat-cell>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
