.body{
  min-height: 70vh;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}
.table-btn {
  min-width: 40px !important;
  min-height: 30px !important;
  font-size: 15px !important;
  line-height: 0;
  margin-top: 1vh;
}
