<div class="jumbotron">
  <h2 style="text-align: center">Please login</h2>
</div>
<div class="container">
  <div class="container-fluid row">
    <div class="form-group" >
      <div class="col-md-12">
        <mat-form-field>
          <input [(ngModel)]="userName" type="text" matInput placeholder="Username" name="userName">
        </mat-form-field>
        <br><br>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <input [(ngModel)]="password" type="password" matInput placeholder="Password" name="password">
        </mat-form-field>
        <br><br>
      </div>
      <div class="col-md-12">
        <button class="btn btn-default col-md-12" name="loginBtn" (click)="login()">Log in</button>
      </div>
    </div>
  </div>
</div>