<div style="width: 30vw; height: 35vh" class="container">
    <h2 mat-dialog-title>Save a new {{heading}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>Please insert relevant data in below form</h3>
        <!--<mat-dialog-actions>-->
        <div class="row">
            <br>
            <div class="example-container col-md-12">
                <mat-form-field class="col-md-12" *ngIf="isHospital">
                    <input [(ngModel)]="hospital" matInput placeholder="{{heading}} Name" name="name">
                </mat-form-field>
                <mat-form-field class="col-md-12" *ngIf="!isHospital">
                    <input [(ngModel)]="speciality" matInput placeholder="{{heading}} Name" name="name">
                </mat-form-field>
            </div>
            <div class="container-fluid">
                <button mat-button mat-dialog-close class="btn btn-danger col-md-5 col-sm-12">Cancel</button>
                <div class="col-md-2 col-sm-0"></div>
                <button mat-button  class="btn btn-success col-md-5 col-sm-12"
                        (click)="saveData()">Save
                </button>
            </div>
        </div>
    </mat-dialog-content>
</div>
