.medTable {
  padding-bottom: 0 !important;
}

.medPaginator {
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 7px 7px 7px 0;
  font-size: 13px;
}

.mat-header-cell {
  padding: 5px 5px 5px 0;
  font-size: 15px;
  height: 20px !important;
  max-height: 20px !important;
}

.table {
  margin-bottom: 0;
}

.selected {
  background-color: lightgreen;
}