@import '~@angular/material/theming';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();

//$my-app-primary: mat-palette($mat-blue-grey);
//$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
//$my-app-warn:    mat-palette($mat-deep-orange);
//$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
//@include angular-material-theme($my-app-theme);

h5{
  display: flex;
  justify-content: left;
}

h3{
  display: flex;
  justify-content: center;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.justify-content-center{
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}

td, th {
  width: auto;
}
.table-btn {
  min-width: 40px !important;
  min-height: 30px !important;
  font-size: 15px !important;
  line-height: 0;
  margin-top: 1vh;
}
.button-text-small {
  font-size: 10px;
  height: 25px;
  max-height: 40px;
  vertical-align: top;
  line-height: 0;
}