<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="text-align: center">
                        <h4 class="title">View all Medicines</h4>
                        <p class="category">You can manage medicine and brand data here</p>
                    </div><hr>
                    <div class="row">

                        <!--Medicine area-->
                        <div class="col-md-8 col-sm-12 ">
                            <div class="content">
                                <app-loading *ngIf="isLoading"></app-loading>
                                <div [hidden]="isLoading">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h5>Medicine</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <button mat-button (click)="addNewClick()" class="btn btn-default">Add new</button>
                                        </div>
                                    </div>
                                    <!--table-->
                                    <mat-form-field>
                                        <input matInput (keyup)="applyMedFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>

                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="medDataSource" matSort #medSort='matSort' class="table table-hover">

                                            <ng-container matColumnDef="medicineName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Medicine</th>
                                                <td mat-cell *matCellDef="let row"> {{row.medicineName}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="price">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
                                                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="qty">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> QTY</th>
                                                <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="brand">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital</th>
                                                <td mat-cell *matCellDef="let row"> {{row.brand.brandName}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="medActions" class="row">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5vw">
                                                    Actions
                                                </th>
                                                <mat-cell *matCellDef="let row" class="col-md-12">
                                                    <button mat-button class="btn btn-primary table-btn"
                                                            (click)="tableClick(row)">Edit
                                                    </button>
                                                    <label style="color: white"> |||| </label>
                                                    <button mat-button class="btn btn-danger table-btn" (click)="tableDelete(row)">Delete</button>
                                                </mat-cell>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="medicineColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: medicineColumns;">
                                            </tr>
                                        </table>

                                        <mat-paginator #medPaginator='matPaginator' [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Brands area-->
                        <div class="col-md-4 col-sm-12 ">
                            <div class="content">
                                <div [hidden]="isLoading">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h5>Brands</h5>
                                            </div>
                                            <div class="col-md-4">
                                                <button mat-button (click)="addNewBrand()" class="btn btn-default">Add new</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--table-->
                                    <mat-form-field>
                                        <input matInput (keyup)="applyBrandFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>

                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="brandDataSource" matSort #brandSort='matSort' class="table table-hover">

                                            <ng-container matColumnDef="brandId">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                                                <td mat-cell *matCellDef="let row"> {{row.brandId}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="brandName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand</th>
                                                <td mat-cell *matCellDef="let row"> {{row.brandName}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="brandActions">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5vw">
                                                    Actions
                                                </th>
                                                <mat-cell *matCellDef="let row">
                                                    <button mat-button class="btn btn-primary table-btn"
                                                            (click)="brandTblEditClick(row)">Edit
                                                    </button>
                                                    <label style="color: white"> |||| </label>
                                                    <button mat-button class="btn btn-danger table-btn" (click)="brandTblDeleteClick(row)">Delete</button>
                                                </mat-cell>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="brandColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: brandColumns;">
                                            </tr>
                                        </table>

                                        <mat-paginator #brandPaginator='matPaginator' [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
